body {
    font-family: arial,Helvetica, sans-serif;
    background-color: #4A6B8A;
     }

h2 {
    
    padding: 20px;
    border: 2pX solid white;;
    color: white;
    background-color: #133353;

}

p {
    padding: 20px;
    border: 2px solid white;
    color: white;
    background-color: #133353;

}

div {
    padding: 20px;
    background-color: #728CA6;
    color: white;
}

form {
	padding: 20px;
	border: 2px solid white;
	background-color: #728CA6;
}

